@{
    ViewData["Title"] = "SMS - HomePage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Management System</h1>
    <button class="btn btn-primary" asp-area="" asp-controller="Index" asp-action="Student">Student</button>
    <button class="btn btn-primary" asp-area="" asp-controller="Index" asp-action="Teacher">Teacher</button>
</div>
